<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .button1 {background-color: #4CAF50;} /* Green */
        .button2 {background-color: #008CBA;} /* Blue */
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>{% block head %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>